<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Landing Page</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
</head>
<body>
	<div class="container jumbotron">
	<h1> This is a Landing Page.. </h1>
	<form action="/artspage" method="GET">
	<button class="btn btn-lg btn-success"> Please Click to Continue to Arts Gallery</button>
	</form>
	</div>
</body>
</html>